# .env.example
# Copiar este archivo, renombralo a .env.local

# Completa con las claves reales de EmailJS para el funcionamiento del formulario de contacto
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAIL_RECEPTOR=

# Completa con los datos para ADMIN y Usuarios

VITE_ADMIN_EMAIL=
VITE_ADMIN_PASS=

VITE_USER_EMAIL=
VITE_USER_PASS=
